.Sidebar-header {
    background-color: rgb(2, 0, 36);
    border-radius: 10px;
    padding: 10px;
    color: azure;
    /* margin-top: 0px; */
}

.Sidebar-header h2 {
    margin-top: 0;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-btn {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
}

.hire-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}